* {
	padding: 0em;
	margin: 0em;
}

:root {
	--bgcolor: #0365AE;
	--txtcolor: rgb(255, 255, 255);
	--breadcolor: #163f77;
	--newscolor: #F3C42B;
	--newstxtcolor: #000;
	--contentxtcolor: #000;
	--contentbgcolor: #fff;
	--linkcolor: #fff;
	--visitedcolor: #F3C42B;
	--bordercolor: #000;
}

html, body {
	font-size: 100%;
	font-family: "Verdana", sans-serif;
	line-height: 1.5em;
	background-color: var(--bgcolor);
	color: var(--txtcolor);
	margin: auto;
}

html {
	background-image: url('images/bg.png');
	background-size: cover;
	background-attachment: fixed;
}

body {
	color: var(--contentxtcolor);
	max-width: 1024px;
	border: 1px solid #000;
	background-color: var(--bgcolor);
    border-style: solid;
    border-width: 0.15em;
    border-color: var(--bordercolor);
}

header {
    color: var(--txtcolor);
    text-align: center;
    padding: 1em;
    padding-top: 0.7em;
    background:
        url(./images/giannellipalleggio.jpg) no-repeat bottom right,
        url(./images/michielettocoppa.jpg) no-repeat top left;
    background-size: 20%, 20%;
    margin: 0.7em;
}

header h1 {
    background-image: url('images/logo_fipav.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    text-indent: -9999px;
    line-height: 1.5em;
    font-size: 6em;
}

header h2 {
	font-size: 1.8em;
	padding: 0.5em;
	margin-top: 0.3em;
}

#breadcrumb {
	background-color: var(--breadcolor);
	color: var(--txtcolor);
	font-size: 1.1em;
	padding: 0.5em 0em 0.5em 1.0em;
    border-style: solid;
    border-width: 0.15em;
    border-color: var(--bordercolor);
    border-left: 0em;
    border-right: 0em;
}

#breadcrumb a:link {
	color: var(--linkcolor);
}

#breadcrumb a:visited {
	color: var(--visitedcolor);
}

#menu {
	float: left;
	width: 25%;
	font-size: 1.3em;
	padding: 0.8em;
}

#menu a:link {
	color: var(--linkcolor);
}

#menu a:visited {
	color: var(--visitedcolor);
}

#menu ul {
	list-style-type: none;
}

#menu ul li {
	margin-top: 0.5em;
}

#currentlink {
    color: var(--txtcolor);
    padding-left: 1.5em;
    background-image: url('images/favpng_volleyball-icon.png');
    background-repeat: no-repeat;
    background-size: 1.2em;
    background-position-y: center;
}

aside {
	float: right;
	width: 20%;
	border: 1px solid #000;
	padding: 0.5em;
	margin-top: 1.0em;
	margin-right: 2%;
	margin-left: 3%;
	overflow: hidden;
	background-color: var(--bgcolor);
	color: var(--txtcolor);
}

aside h2 {
	font-size: 1.2em;
	background-color: var(--newscolor);
	color: var(--newstxtcolor);
	padding: 0.2em;
}

aside dl dd {
	margin-left: 1.5em;
}

aside dt {
	margin-left: 0.8em;
	font-weight: bold;
}

main {
    background-color: var(--contentbgcolor);
    margin-left: 25%;
    padding: 1.5em;
    padding-top: 1em;
    border-style: solid;
    border-width: 0.15em;
    border-color: var(--bordercolor);
    border-top: 0em;
    border-bottom: 0em;
    border-right: 0em;
}

main>p {
    margin-bottom: 0.5em;
    padding: 0em 2em;
}

main h1 {
    line-height: 1.5em;
    margin-bottom: 1em;
    margin: 0em 1em;
    text-align: center;
}

main>h2 {
    line-height: 1.5em;
    margin: 0.7em 2em;
    text-align: left;
}

main>dl {
    margin: 0em 3em;
}

main>dl>dt {
    padding-left: 1.2em;
    background-image: url(./images/favicon-32x32.png);
    background-repeat: no-repeat;
    background-size: 1em;
    background-position-y: center;
}

main>dl>dd {
    padding-left: 1.2em;
}

main>ul {
    margin-left: 4.5em;
}

main>img {
    float: left;
    max-width: 40%;
    shape-outside: margin-box;
    border-radius: 0 20% 20% 0 /40%;
    margin: 0em 2em 1em 2em;
}

#squadra {
    display: block;
    width: 90%;
    margin: 0em 2.3em;
}

#squadra em {
    font-style: italic;
}

#squadra>dt {
    color: var(--txtcolor);
    background: var(--breadcolor);
    font-weight: bold;
    margin-top: 1em;
    padding-top: 0.5em;
    height: 2em;
}

#squadra>dd {
    border-color: var(--bordercolor);
    border-width: .15em;
    border-style: solid;
    border-top: none;
}

#squadra>dd img {
    float: left;
    max-width: 20%;
}

#squadra>dd>dl {
    margin-left: 25%;
}

#squadra>dd>dl>dt {
    float: left;
    font-weight: bold;
}

#squadra>dd>dl>dt::after {
    content: "\00a0";
}

#squadra>dd>dl>dd ul {
    clear: both;
    margin-left: 2em;
}

footer {
    color: var(--txtcolor);
    background-color: var(--breadcolor);
    text-align: center;

    padding-top: 0.5em;

    border-style: solid;
    border-width: 0.15em;
    border-color: var(--bordercolor);
    border-bottom: 0em;
    border-right: 0em;
    border-left: 0em;
}

footer em {
    display: inline;
    font-style: italic;
    font-size: 0.8em;
}

footer img {
    margin: 0em 1em;
}
